<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bokking Form</title>
  <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
<!-- Add this to your bookForm.html -->
<div th:if="${successMessage}" class="alert alert-success">
  <p th:text="${successMessage}"></p>
</div>

<div class="wrapper">

    <span class="icon-close">
      <ion-icon name="close"></ion-icon>
    </span>

    <div class="form-box login">
      <h2>Book Appointment</h2>
      <form th:action="@{/Location}"  method="post" onsubmit="return submitForm()">
        <div class="input-box">
          <input type="text" id="patientName" name="patientName" required>
          <label for="patientName">Patient's Name *</label>
        </div>

        <div class="input-box">
          <input type="tel" id="phoneNumber" name="phoneNumber" required>
          <label for="phoneNumber">Phone Number *</label>
      </div>
      
    <div class="input-box">
      <input type="text" id="address" name="address" required>
      <label for="address">Address *</label>
    </div>

        <div class="input-box">
          <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="Email" id="email" name="email" required>
            <label for="email">Email</label>
        </div>

        <button type="submit" class="btn">Continue</button>
      </form>
    </div>
    <script>
        function submitForm() {
            var patientName = document.getElementById('patientName').value;
            var phoneNumber = document.getElementById('phoneNumber').value;
            var address = document.getElementById('address').value;
            var email = document.getElementById('email').value;

            // Redirect to Location.html with form data
            window.location.href = '/Location?patientName=' + patientName +
                '&phoneNumber=' + phoneNumber +
                '&address=' + address +
                '&email=' + email;

            return false; // Prevent the form from submitting
        }
    </script>
    <script src="/js/script.js"></script>
    <script type="module" src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </div>
</body>
</html>