<!DOCTYPE html>
   <html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <!--=============== SWIPER CSS ===============-->
      <link rel="stylesheet" href="/css/swiper-bundle.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="/css/doctorStyles.css">

      <title>HealthMate</title>
   </head>
   <body>
      <section class="container">
         <div class="card__container swiper">
            <div class="card__content">
               <div class="swiper-wrapper" id="doctorList">

                   <!-- JavaScript will dynamically populate this section with doctor information -->


               </div>
            </div>

            <!--Navigation Buttons-->
            <div class="swiper-button-prev">
               <i class="ri-arrow-left-s-line"></i>
            </div>
            <div class="swiper-button-next">
               <i class="ri-arrow-right-s-line"></i>
            </div>

            <!--Pagination-->
            <div class="swiper-pagination"></div>
         </div>
      </section>

      <script>
         document.addEventListener('DOMContentLoaded', function () {
            // Extract doctor names from the query parameter
            const urlParams = new URLSearchParams(window.location.search);
            const selectedLocation = urlParams.get('selectedLocation');
            const doctorNamesParam = urlParams.get('doctorNames');

            if (doctorNamesParam) {
               const doctorNames = doctorNamesParam.split(',');

               // Get the doctorList container
               const doctorListContainer = document.getElementById('doctorList');

               // Populate doctor information dynamically
               doctorNames.forEach((doctorName, index) => {
                  const articleHTML = `
                        <article class="card__article swiper-slide">
                            <div class="card__image">
                                <img src="images/avatar-${index + 1}.png" alt="image" class="card__img">
                                <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                                <h3 class="card__name">${doctorName}</h3>
                                <p class="card__description">
                                    Passionate about development and design,
                                    I carry out projects at the request of users.
                                </p>

                                <a href="#" class="card__button" onclick="redirectToDetails('${doctorName}')">View More</a>
                            </div>
                        </article>
                    `;

                  // Append the dynamically generated article to the container
                  doctorListContainer.innerHTML += articleHTML;
               });
            }
         });

         function redirectToDetails(doctorName) {
            // Encode the doctor's name to handle special characters
            const urlParams = new URLSearchParams(window.location.search);
            const patientName = urlParams.get('patientName');
            const phoneNumber = urlParams.get('phoneNumber');
            const address = urlParams.get('address');
            const email = urlParams.get('email');
            const selectedLocation = urlParams.get('selectedLocation');

            const encodedDoctorName = encodeURIComponent(doctorName);
            const encodedLocation = encodeURIComponent(selectedLocation);

            // Redirect to details.html with the encoded doctor's name as a query parameter
            window.location.href = `/details?doctorName=${encodedDoctorName}&selectedLocation=${encodedLocation}&patientName=${patientName}&phoneNumber=${phoneNumber}&address=${address}&email=${email}`;
         }

      </script>
      
      <!--=============== SWIPER JS ===============-->
      <script src="/js/swiper-bundle.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="/js/main.js"></script>
   </body>
</html>